/* add colors */

:root{
--highlightcolor:#e57728; /* Features Orange */
--sidebarbackground:#EBEBEF; /* toc background */
--red:#FF0000;  /* for debugging */
--paleorange:#ffeecc; /* pale orange */
--rcicorange:#e56306;
--paleblue:#e1effa;
--bluelight: #0092e0;
--proposed: #00afaf;
}

/* these colors can be used in roles */
.cyan { color: cyan; }
.aqua { color: aqua; }
.blue { color: blue; }
.navy { color: navy; }
.red {color: #f00;}
.rcicorange {color: #e56306;}
.rcicblue {color: #00579e;}
.proposed {color: #00afaf; font-weight: bold;}
.bluelight {color: #0092e0;}
.bluegray {color: #88bfd1;}

/* ==== for recharge able ==== */
.recharge-table table {
    width: 100% !important;
}
/* table header */
.recharge-table th {
	background-color:var(--paleorange);
}
.recharge-table td {
    white-space: normal !important;
}
/* set columns width */
.recharge-table td:first-child {
    width: 15% !important;
}
.recharge-table td:nth-child(2) {
    width: 27% !important;
}
.recharge-table td:last-child {
    width: 40% !important;
}

/* === for no scroll tables ==== */
.noscroll-table td {
    white-space: normal !important;
}
.noscroll-table th {
	background-color:var(--paleblue);
}

/* ==== for news ====  */
.blogauthor {
    color: #7b97a8;
    font-style: italic;
	font-weight: bold;
    font-size: 15px;
	text-decoration: underline;
}
.blogtitle {
    color: var(--rcicorange);
    font-size: 18px;
	font-weight: bold;
}

/* for text */
.underline {
	font-weight: bold;
	text-decoration: underline;
}

/* define a word */
.tt {
  font-size: 90%;
  font-weight: 600;
  background-color: #efefff !important;
/*
  padding: 0em 0.5ex;
  letter-spacing:0;
  -webkit-border-radius: 4px; border-radius: 4px;
  text-rendering:optimizeSpeed;word-wrap:break-word;
*/
}

/* make a title  outside of TOC */
.section {
    color: #557799;
	font-weight: bold;
    font-size: 18px;
}

/* add a bit of padding after the image. Otherwise
   regular text is too close to the image bottom */
img.addpadding {padding: 0.5em;}
